.work-sans{
     font-family: "Work Sans", sans-serif;
}

.Playfair{
    font-family: "Playfair Display", serif;
}

.nav-bar li a.active{

    color: rgba(12, 190, 12, 0.911);
    border: 1px solid rgb(23, 187, 23);
    padding: 10px 20px ;
    border-radius: 10px;
    transition-duration: 0.3s;
}